.faculties {
  padding-bottom: 100px;

  &__filter {
    display: flex;
    padding-bottom: 50px;
  }

  &__filter-checkbox {
    display: flex;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__filter-text {
    font-family: 'FuturaPT';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__item {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid #4E4E4E;
  }

  &__link {
    padding-right: 60px;
    width: 100%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: right center;


    &:hover {
      .faculties__link-title {
        color: $colorGold;
      }
    }
  }

  &__link-data {
    display: block;
    margin-right: 175px;
    margin-bottom: 36px;
    font-family: 'FuturaPT';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
  }

  &__link-descr {
    color: $colorWhite;
  }

  &__link-title {
    margin-bottom: 15px;
    font-family: 'Fellaz';
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: $colorWhite;
    transition: color .3s ease-in-out;
  }

  &__link-items {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
  }

  .freeplace {
    color: $colorGold;
  }

  &__link-format {
    display: block;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $colorWhite;
  }
}

@media (max-width: 1440px) {
  .faculties {
    &__link-title {
      font-size: 30px;
      line-height: 34px;
    }

    &__link-data {
      margin-right: 150px;
    }
  }
}

@media (max-width: 1024px) {
  .faculties {
    &__link-title {
      font-size: 20px;
      line-height: 25px;
    }

    &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &__link-format {
      order: 1;
    }

    &__link-data {
      margin: 0;
      order: 2;
    }

    &__item {
      padding: 30px 0;
      flex-direction: column;
    }

    &__link {
      padding-right: 60px;
      background-size: 35px 35px;
    }
  }
}

@media (max-width: 540px) {
  .faculties {
    &__link-title {
      font-size: 18px;
      line-height: 22px;
    }

    &__link-data {
      font-size: 13px;
      line-height: 17px;
    }

    &__link-items {
      font-size: 14px;
      line-height: 18px;
    }

    &__item {
      padding: 16px 0;
    }

    &__link {
      padding-right: 0;
      background-image: none;
    }

    &__link-format {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }
  }
}
