
.switch {
  position: relative;
  margin-right: 25px;

  &__label {
    border-radius: 9px;
    max-width: 50px;
    display: block;
    cursor: pointer;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      // opacity: var(--gradient, 0);
      transition: opacity .4s;
    }
  }

  &__track {
    position: relative;
    display: inline-block;
    z-index: 1;
    vertical-align: top;
    height: 22px;
    width: 40px;
    border-radius: 11px;
    background: #ECEFFC;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      // opacity: var(--gradient, 0);
      transition: opacity .4s;
    }
  }

  &__dot {
    background: linear-gradient(222deg, #072B9D 25.94%, #7000FF 65.68%);
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    left: -1px;
    top: -1px;
    transform: translateX(var(--offset, 0));
    transition: transform .4s;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      border-radius: inherit;
      // opacity: var(--gradient, 0);
      transition: opacity .4s;
    }
  }


  &__input
    &:checked {
      &__dot {
        --offset: 18px;
        // --text: #404660;
        --gradient: 1;
        // --shadow: rgba(0, 6, 39, .1);
        // --light-shadow: rgba(255, 255, 255, .8);
        // --light-shadow-2: rgba(255, 255, 255, .1);
    }
  }
}

.faculties {
  padding-bottom: 100px;

  &__filter {
    display: flex;
    padding-bottom: 50px;
  }

  &__filter-checkbox {
    display: flex;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  &__filter-text {
    font-family: 'FuturaPT';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__item {
    display: flex;
    padding: 50px 0;
    border-bottom: 1px solid #4E4E4E;
  }

  &__link {
    padding-right: 60px;
    width: 100%;
    background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    background-position: right center;

  }

  &__link-data {
    display: block;
    margin-right: 175px;
    margin-bottom: 36px;
    font-family: 'FuturaPT';
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
  }

  &__link-descr {
    color: $colorWhite;
  }

  &__link-title {
    margin-bottom: 15px;
    font-family: 'Fellaz';
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: $colorWhite;
  }

  &__link-items {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $colorWhite;
  }

  .freeplace {
    color: $colorGold;
  }

  &__link-format {
    display: block;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $colorWhite;
  }

  .filter-mobile {
    display: none;
    &__text {
      padding-right: 25px;
      font-family: 'FuturaPT';
      font-size: 18px;
      line-height: 23px;
      color: $colorWhite;
      background-image: url(../img/filter.svg);
      background-repeat: no-repeat;
      background-position: right center;
    }

  }
}


@media (max-width: 1440px) {
  .faculties {
    &__link-title {
      font-size: 30px;
      line-height: 34px;
    }

    &__link-data {
      margin-right: 150px;
    }
  }
}

@media (max-width: 1200px) {
  // .faculties {
  //   &__link-title {
  //     font-size: 25px;
  //     line-height: 27px;
  //   }
  // }
}

@media (max-width: 1024px) {
  .faculties {
    &__link-title {
      font-size: 20px;
      line-height: 25px;
    }

    &__item-info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    &__link-format {
      order: 1;
    }

    &__link-data {
      // display: inline;
      margin: 0;
      order: 2;
    }

    &__item {
      padding: 30px 0;
      flex-direction: column;
    }

    &__link {
      padding-right: 60px;
      background-size: 35px 35px;
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 540px) {
  .faculties {
    &__link-title {
      font-size: 18px;
      line-height: 22px;
    }

    &__link-data {
      font-size: 13px;
      line-height: 17px;
    }

    &__link-items {
      font-size: 14px;
      line-height: 18px;
    }

    &__item {
      padding: 16px 0;
    }

    &__link {
      padding-right: 0;
      background-image: none;
    }

    &__link-format {
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
    }

    .filter-mobile {
      display: block;
      margin-bottom: 15px;
    }

    &__filter {
      display: none;
    }

    .filter-active {
      display: block;
    }

    &__filter-checkbox {
      display: flex;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }


}

@media (max-width: 320px) {

}
