.step {
  padding-bottom: 100px;

  &__container {
    padding-top: 301px;
    position: relative;
  }

  &__images {
    position: absolute;
    top: -80px;
    left:15px;
  }

  &__img {
    width: 354px;
    height: 164px;
    object-fit: cover;

    &:not(:last-child)  {
      margin-right: 15px;
    }
  }

  &__arrow {
    position: absolute;
    left: 150px;
    top: 130px;
  }

  &__title {
    margin-bottom: 55px;
  }

  &__links {
    display: flex;
  }

  &__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding-top: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .3s ease-in-out;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $colorWhite;
  }

  // &__link-text {
  //   display: block;
  // }

  &__link-big {
    width: 710px;
    height: 220px;
    margin-right: 134px;
    background-image: url(../img/step_link-bg-1.jpg);

    &:hover {
      background-image: url(../img/01.gif);
    }
  }

  &__link-small {
    width: 277px;
    height: 220px;

    &:not(:last-child)  {
      margin-right: 22px;
    }
  }

  .link-bg-1{
    background-image: url(../img/step_link-bg-2.jpg);

    &:hover {
      background-image: url(../img/01.gif);
    }
  }

  .link-bg-2{
    background-image: url(../img/step_link-bg-3.jpg);

    &:hover {
      background-image: url(../img/01.gif);
    }
  }
}

@media (max-width: 1024px) {
  .step {
    &__link-big {
      margin-right: 60px;
    }
  }
}

@media (max-width: 768px) {
  .step {
    padding-bottom: 24px;

    .step__container {
      padding-top: 150px;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__images {
      display: flex;
      justify-content: center;
      width: 100%;
      top: -60px;
      left: 0;
    }

    &__img {
      width: 145px;
      height: 120px;

      &:not(:last-child)  {
        margin-right: 15px;
      }
    }

    &__arrow {
      width: 63px;
      height: 73px;
      left: 30%;
      top: 90px;
    }

    &__links {
      flex-wrap: wrap;
    }

    &__link {
      position: relative;
      margin-bottom: 16px;
      padding-top: 0;
      width: 100%;
    }

    &__link-text {
      position: absolute;
      top: 50%;
      left: 50%;
      // width: 100%;
      transform: translate(-50%, -50%,)
    }

    &__link-big {
      width: 100%;
      margin-right: 0;
      height: 120px;
    }

    &__link-small {
      width: 48.5%;
      height: 120px;

      &:not(:last-child)  {
        margin-right: auto;
      }
    }

    .link-bg-1{
      background-image: url(../img/step_link-bg-2-mob.jpg);
    }
  }
}

@media (max-width: 540px) {
  .step {
    .step__container {
      padding-top: 100px;
    }

    &__link-text {
      font-family: 'FuturaPT';
      font-weight: 600;
      font-size: 24px;
      line-height: 31px;
    }
  }
}
