<section class="about">
  <div class="about__container container">
    <h2 class="about__title section-title">Об университете сервиса</h2>

    <div class="about__cards">
      <div class="about__card">
        <div class="about__card-bg card-1">
          <span class="about__card-num">2500+</span>
        </div>
        <p class="about__card-text">Студентов</p>
      </div>

      <div class="about__card">
        <div class="about__card-bg card-2">
          <span class="about__card-num">150+</span>
        </div>
        <p class="about__card-text">Преподавателей</p>
      </div>

      <div class="about__card">
        <div class="about__card-bg card-3">
          <span class="about__card-num">26</span>
        </div>
        <p class="about__card-text">Программ высшего образования</p>
      </div>

      <div class="about__card">
        <div class="about__card-bg card-4">
          <span class="about__card-num">103</span>
        </div>
        <p class="about__card-text">Бюджетных мест</p>
      </div>
    </div>

    <p class="about__text about__text-orange">более&nbsp;66% выпускников находят работу через 27&nbsp;дней после окончания вуза</p>

    <div class="about__col">
      <div class="about__col-top">
        <img class="about__photo photo-1" src="img/about_photo-1.jpg" alt="university photo">
        <img class="about__photo photo-3" src="img/about_photo-3.jpg" alt="university photo">
        <p class="about__text anakiwa">Университет развивает
          <span class="about__text-anakiwa">партнерские отношения с&nbsp;российскими и&nbsp;зарубежными вузами, научными центрами, бизнес-сообществом.</span>
        </p>
      </div>

      <div class="about__col-bottom">
        <img class="about__photo photo-2" src="img/about_photo-2.jpg" alt="university photo">
        <img class="about__photo photo-4" src="img/about_photo-4.jpg" alt="university photo">
        <p class="about__text saffron">Подготовкой студентов занимаются свыше 150&nbsp;преподавателей, из&nbsp;которых
          <span class="about__text-saffron">более&nbsp;66% имеют ученые степени и&nbsp;звания.</span>
        </p>
      </div>
    </div>
  </div>
</section>
