<section class="documents">
  <div class="documents__container container">
    <div class="documents__top">
      <h3 class="documents__title">Прием документов начинается с&nbsp;<span>19&nbsp;июня</span> 2021&nbsp;г.</h3>
      <div class="documents__top-text">
        <div class="documents__full-time">
          <span>Завершается прием документов</span>
          <span class="color">Очная форма (бюджет и&nbsp;внебюджет):</span>
          <span>10&nbsp;августа&nbsp;&mdash; на&nbsp;творческие специальности (&laquo;Дизайн&raquo;).</span>
          <span>15&nbsp;августа&nbsp;&mdash; на&nbsp;все остальные специальности.</span>
        </div>

          <p class="documents__extramural">
            <span class="mobile-none">Завершается прием документов:</span>
            <span class="color">Заочная форма (внебюджет):</span>
            <span>15&nbsp;октября&nbsp;&mdash; на&nbsp;все специальности.</span>
          </p>
      </div>
    </div>

    <div class="documents__bottom">
      <div class="documents__col-left">
        <h3 class="documents__title">Документы для поступления</h3>
        <ol class="documents__list">
          <li class="documents__item">Паспорт</li>
          <li class="documents__item">Документ об образовании (аттестат/диплом)</li>
          <li class="documents__item">4 фото на 3х4 см</li>
          <li class="documents__item">Рекомендуется мед.справка — форма 086У (для очной формы обучения)</li>
        </ol>
      </div>


      <div class="documents__col-right">
        <h3 class="documents__title">Способы подачи заявления о приеме</h3>
        <ol class="documents__list">
          <li class="documents__item">Лично в г. Тольятти, ул. Гагарина, д. 4</li>
          <li class="documents__item">Через почту: Самарская область, 445017, г. Тольятти, ул. Гагарина, д. 4. Приемная комиссия ПВГУС</li>
          <li class="documents__item">Через «Личный кабинет поступающего»: www.tolgas.ru / Логин: ТВОЁ БУДУЩЕЕ, пароль: ПВГУС</li>
          <li class="documents__item">Через электронную почту: priem@tolgas.ru</li>
        </ol>
      </div>
    </div>
  </div>

</section>
