<div class="education">
  <div class="education__container container">
    <a class="education__link card_1" href="vocational_education.html">
      <span class="education__link-num">01.</span>
      <span class="education__link-text">Среднее профессиональное образование</span>
    </a>

    <a class="education__link card_2" href="bachelor.html">
      <span class="education__link-num">02.</span>
      <span class="education__link-text">Бакалавриат</span>
    </a>

    <a class="education__link card_3" href="magistracy.html">
      <span class="education__link-num">03.</span>
      <span class="education__link-text">Магистратура</span>
    </a>

    <a class="education__link card_4" href="postgraduate.html">
      <span class="education__link-num">04.</span>
      <span class="education__link-text">Аспирантура</span>
    </a>
  </div>
</div>
