<section class="faculties">
  <div class="faculties__filter">
    <div class="faculties__filter-checkbox">
      <div class="filter-checkbox">
        <span class="filter-checkbox__text">Очное</span>

        <div class="switch">
          <label class="switch__label">
            <input  class="switch__input visually-hidden" type="checkbox" checked>
            <div class="switch__track">
              <div class="switch__dot"></div>
            </div>
          </label>
      </div>


        <!-- .toggle-wrapper
	.toggle.dog-rollover
		input#doggo(type="checkbox")
		label.toggle-item(for="doggo")
			.dog
				.ear
				.ear.right
				.face
					.eyes
					.mouth -->

      </div>
    </div>
  </div>
</section>
