<div class="filter__container container">

  <button class="filter-mobile btn-reset">
    <span class="filter-mobile__text">Фильтры</span>
  </button>

  <div class="filter">
    <div class="filter__checkbox">
      <span class="filter__text">Очное</span>
      <div class="switch">
        <input type="checkbox" id="switch-left" checked>
        <label for="switch-left">
          <div class="switch__track">
            <div class="switch__dot"></div>
          </div>
        </label>
    </div>
      <span class="filter__text">Заочное</span>
    </div>

    <div class="filter__checkbox">
      <span class="filter__text">Бюджет</span>
      <div class="switch">
        <input type="checkbox" id="switch-right" checked>
        <label for="switch-right">
          <div class="switch__track">
            <div class="switch__dot"></div>
          </div>
        </label>
    </div>
      <span class="filter__text">Коммерция</span>
    </div>
  </div>

  <div class="filter__items">
    <ul class="filter__items-list list-reset">
      <li class="filter__items-item">Предметы: </li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">Обществознание</a></li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">Математика</a></li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">ИКТ</a></li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">История</a></li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">Физика</a></li>
      <li class="filter__items-item"><a href="#" class="filter__items-link">Иностранный язык</a></li>
    </ul>
  </div>
</div>
