<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__info">
        <img class="footer__logo" src="img/logo.svg" alt="logo">
        <span class="footer__info-text">Поволжский государственный университет сервиса</span>
        <a class="footer__info-tel" href="tel:+78482222283">+7 (8482) 22-22-83</a>
      </div>

      <div class="footer__nav footer-nav">
        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Абитуриентам</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Стундентам</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Сотрудникам</a></li>
        </ul>

        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Об университете</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Научная деятельность</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Студенческая жизнь</a></li>
        </ul>

        <ul class="footer-nav__list list-reset">
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Дополнительное образование</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Международная деятельность</a></li>
          <li class="footer-nav__item"><a class="footer-nav__link" href="#">Сведения об образовательной организации</a></li>
        </ul>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__col-left">
        <p class="footer__bottom-text">Учредителем ФГБОУ ВО "ПВГУС" является Министерство науки и высшего образования РФ</p>
      </div>

      <div class="footer__col-right">
        <p class="footer__bottom-text footer__politics">Политика в отношении обработки персональных данных ФГБОУ ВО "ПВГУС"</p>
        <p class="footer__bottom-text">Информация о доступе к информационным системам и информационно-телекоммуникационным сетям, приспособленным для использования инвалидами и лиц с ограниченными возможностями здоровья</p>
      </div>
    </div>
  </div>

</footer>
