<section class="faculties">
  <div class="faculties__container container">
    <ul class="faculties__list list-reset">
      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Информатика и вычислительная техника</h3>
            <span class="faculties__link-items">Элементы и устройства вычислительной техники и информационных систем</span>
          </div>
        <!-- <span class="faculties__link-icon"></span> -->
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Прикладная информатика</h3>
            <span class="faculties__link-items ">Интеллектуальные информационные системы в цифровом пространстве</span>
          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Программная инженерия</h3>
            <span class="faculties__link-items ">Разработка программно-информационных систем</span>
          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Технологические машины и оборудование</h3>
            <span class="faculties__link-items ">Разработка программно-информационных систем</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Технологические машины и оборудование</h3>
            <span class="faculties__link-items ">Инжиниринг технологических инноваций машин и оборудования</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Экономика</h3>
            <span class="faculties__link-items">Учет, аудит и внутренний контроль / Экономика и предпринимательство</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Менеджмент</h3>
            <span class="faculties__link-items ">Стратегический менеджмент в цифровой экономике</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Стратегический менеджмент в цифровой экономике</h3>
            <span class="faculties__link-items ">Стратегическое управление персоналом организации</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Государственное и муниципальное управление</h3>
            <span class="faculties__link-items ">Управление развитием территории</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Финансы и кредит</h3>
            <span class="faculties__link-items ">Управление финансовыми рисками</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Социальная работа</h3>
            <span class="faculties__link-items ">Социальная работа в различных сферах жизнедеятельности</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Туризм</h3>
            <span class="faculties__link-items ">Стратегическое управление в сфере туризма и гостеприимства</span>

          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Гостиничное дело</h3>
            <span class="faculties__link-items ">Стратегическое управление в сфере туризма и гостеприимства</span>

          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
