<div class="mission">
  <div class="mission__container container">
    <p class="mission__text mission__left">Развитие профессионального образования, соответствующего Российским и&nbsp;Европейским стандартам подготовки кадров для сферы сервиса, и&nbsp;эффективная реализация инноваций в&nbsp;науке и&nbsp;образовании</p>
    <p class="mission__text mission__right">Университет специализируется приоритетном направле нии развития&nbsp;&mdash; сфера сервиса, которая включает в&nbsp;себя современные технологии в&nbsp;промышленности, экономике, информационно-коммуникационной и&nbsp;социокультурной среде. Стратегия развития вуза основана на&nbsp;взаимодействии с&nbsp;научными центрами и&nbsp;предприятия ми&nbsp;высокотехнологичных отраслей экономики России и&nbsp;других стран.</p>
  </div>
</div>
