<section class="news">
  <div class="news__container container">
    <h2 class="news__title section-title">Последние новости</h2>
    <div class="news__cards">
      <div class="news__card">
        <img class="news__card-img" src="img/news_img.jpg" alt="news image">
        <span class="news__card-data">29 марта 2021</span>
        <div class="news__link-wrapper">
          <a class="news__card-link" href="#">Кандидаты на пост ректора</a>
          <div class="news__card-icon">
            <svg class="nav__art-arrow" width="45" height="45">
              <use xlink:href="img/sprite.svg#news-arrow"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="news__card">
        <img class="news__card-img" src="img/news_img.jpg" alt="news image">
        <span class="news__card-data">29 марта 2021</span>
        <div class="news__link-wrapper">
          <a class="news__card-link" href="#">Перенос даты Конференци по коллективному договору</a>
          <div class="news__card-icon">
            <svg class="nav__art-arrow" width="45" height="45">
              <use xlink:href="img/sprite.svg#news-arrow"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="news__card">
        <img class="news__card-img" src="img/news_img.jpg" alt="news image">
        <span class="news__card-data">29 марта 2021</span>
        <div class="news__link-wrapper">
          <a class="news__card-link" href="#">Поступай в три клика: Новые особенности приёма 2020</a>
          <div class="news__card-icon">
            <svg class="nav__art-arrow" width="45" height="45">
              <use xlink:href="img/sprite.svg#news-arrow"></use>
            </svg>
          </div>
        </div>
      </div>

      <div class="news__card">
        <img class="news__card-img" src="img/news_img.jpg" alt="news image">
        <span class="news__card-data">29 марта 2021</span>
        <div class="news__link-wrapper">
          <a class="news__card-link" href="#">Кандидаты на пост ректора</a>
          <div class="news__card-icon">
            <svg class="nav__art-arrow" width="45" height="45">
              <use xlink:href="img/sprite.svg#news-arrow"></use>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
