<section class="educations-hero">
  <div class="educations-hero__container container">
    <h1 class="bachelor-title magistracy">Аспирантура</h1>

    <div class="educations-hero__info">
      <p class="educations-hero__text update">Обновлено 11.05.2021</p>
      <p class="educations-hero__text info">В&nbsp;целях информирования о&nbsp;приеме университет размещает информацию по&nbsp;программам среднего профессионального образования по&nbsp;очной и&nbsp;заочной формам обучения в&nbsp;2021&nbsp;году:</p>
    </div>
  </div>
</section>
