<section class="faculties">
  <div class="faculties__container container">
    <ul class="faculties__list list-reset">
      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Информатика и вычислительная техника</h3>
            <span class="faculties__link-items">Элементы и устройства вычислительной техники и информационных систем</span>
          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Электро - и теплотехника</h3>
            <span class="faculties__link-items ">Электромеханика и электрические аппараты</span>
          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Экономика</h3>
            <span class="faculties__link-items ">Финансы, денежное обращениеи и кредит</span>
          </div>
        </a>
      </li>

      <li class="faculties__item">
        <div class="faculties__item-info">
          <span class="faculties__link-data">09.01.01</span>
          <strong class="faculties__link-format anakiwa">Очно и заочно</strong>
        </div>

        <a href="specialty-single.html" class="faculties__link">
          <div class="faculties__link-descr">
            <h3 class="faculties__link-title">Искусствоведение</h3>
            <span class="faculties__link-items ">Техническая эстетика и дизайн</span>

          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
