<section class="specialty">
  <div class="specialty__container container">
    <h1 class="specialty__title">Графический дизайн и искусство интерьера</h1>

    <ul class="specialty__list list">
      <li class="specialty__item">
        <span class="specialty__item-big">201</span>
        <span class="specialty__item-text">проходной балл бюджет</span>
      </li>

      <li class="specialty__item">
        <span class="specialty__item-big">2</span>
        <span class="specialty__item-text">бюджетных места</span>
      </li>

      <li class="specialty__item">
        <span class="specialty__item-big">219 204 ₽</span>
        <span class="specialty__item-text">Стоимость за год</span>
      </li>

      <li class="specialty__item">
        <span class="specialty__item-big">4 года</span>
        <span class="specialty__item-text">срок обучения</span>
      </li>
    </ul>

    <div class="specialty__info">
      <div class="specialty__exams">
        <h3 class="specialty__info-title">Вступительные экзамены и минимальные баллы</h3>
        <ul class="specialty__exams-list list-reset">
          <li class="specialty__exams-item">
            <span class="specialty__exams-text specialty__exams-text--from">от</span>
            <span class="specialty__exams-num">44</span>
            <span class="specialty__exams-text item">обществознание</span>
          </li>

          <li class="specialty__exams-item">
            <span class="specialty__exams-text specialty__exams-text--from">от</span>
            <span class="specialty__exams-num">41</span>
            <span class="specialty__exams-text item">руский язык</span>
          </li>

          <li class="specialty__exams-item">
            <span class="specialty__exams-text specialty__exams-text--from">от</span>
            <span class="specialty__exams-num">40</span>
            <span class="specialty__exams-text item">композиция</span>
          </li>
        </ul>
      </div>

      <div class="specialty__marks">
        <h3 class="specialty__info-title">Дополнительные баллы к сумме ЕГЭ</h3>
        <ul class="specialty__marks-list list-reset">
          <li class="specialty__marks-item">
            <strong class="specialty__marks-mark">7 баллов</strong>
            <span class="specialty__marks-text">за аттестат с отличием</span>
          </li>

          <li class="specialty__marks-item">
            <strong class="specialty__marks-mark">7 баллов</strong>
            <span class="specialty__marks-text">за диплом СПО с отличием</span>
          </li>

          <li class="specialty__marks-item">
            <strong class="specialty__marks-mark">6 баллов</strong>
            <span class="specialty__marks-text">за золотой значок ГТО</span>
          </li>

          <li class="specialty__marks-item">
            <strong class="specialty__marks-mark">8-10 баллов</strong>
            <span class="specialty__marks-text">за спортивные достижения</span>
          </li>

          <li class="specialty__marks-item">
            <strong class="specialty__marks-mark">7 баллов</strong>
            <span class="specialty__marks-text">за статус победителя по профессиональному мастерству среди инвалидови лиц с ограниченными возможностями здоровья (ОВЗ) «Абилимпикс»</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="specialty__bottom">
      <div class="specialty__about">
        <h3 class="specialty__info-title specialty__about-title">О программе</h3>
        <p class="specialty__about-descr">Направление включает в&nbsp;себя несколько разноплановых профилей: от&nbsp;графического и&nbsp;промышленного дизайна до&nbsp;дизайна костюма и&nbsp;автотранспорта. Студенты изучают историю искусств, академический рисунок и&nbsp;живопись, академическую скульптуру и&nbsp;пластическое моделирование, технический рисунок.</p>
      </div>

      <div class="specialty__owner">
        <strong class="specialty__owner-bio">Идиатуллов Тимур Тофикович</strong>
        <span class="specialty__owner-position">Руководитель</span>

        <strong class="specialty__owner-bio">54.03.01</strong>
        <span class="specialty__owner-position">Код направления подготовки</span>
      </div>
    </div>

    <div class="open-dors">
      <h2 class="section-title open-dors__title">Дни открытых дверей</h2>

      <div class="open-dors__cards">
        <div class="open-dors__card">

        </div>
      </div>
    </div>
  </div>

</section>
