<section class="step">
  <div class="step__container container">
    <div class="step__images">
      <img class="step__img" src="img/step_photo-1.jpg" alt="" >
      <img class="step__img" src="img/step_photo-2.jpg" alt="" >
      <img class="step__arrow" src="img/step_arrow.svg" alt="" >
    </div>
    <h2 class="step__title section-title">Сделайте следующий шаг</h2>

    <!-- <div class="step__links">
      <a href="#" class="step__link step__link-big">Выбрать программу</a>
      <a href="#" class="step__link step__link-small link-bg-1">Узнать, как поступить</a>
      <a href="#" class="step__link step__link-small link-bg-2">Памятка абитуриенту</a>
    </div> -->

    <div class="step__links">
      <a href="#" class="step__link step__link-big">
        <span class="step__link-text">Выбрать программу</span>
      </a>

      <a href="#" class="step__link step__link-small link-bg-1">
        <span class="step__link-text">Узнать, как поступить</span>
      </a>

      <a href="#" class="step__link step__link-small link-bg-2">
        <span class="step__link-text">Памятка абитуриенту</span>
      </a>
    </div>
  </div>
</section>
