<section class="teachers">
  <div class="teachers__container container">
    <h2 class="teachers__title section-title">Преподаватели</h2>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide slide-1">
          <img class="teachers__photo" src="img/teacher_photo-1.jpg" alt="teacher photo" >
          <p class="teachers__name">Калинин Марк Леонидович</p>
          <p class="teachers__position">доцент; доцент, к.н.; ведущий научный сотрудник; преподаватель</p>
        </div>

        <div class="swiper-slide slide-2">
          <img class="teachers__photo" src="img/teacher_photo-2.jpg" alt="teacher photo" >
          <p class="teachers__name">Андрианова Ангелина Святославовна</p>
          <p class="teachers__position">доцент; доцент, к.н.; ведущий научный сотрудник; преподаватель</p>
        </div>

        <div class="swiper-slide slide-3">
          <img class="teachers__photo" src="img/teacher_photo-3.jpg" alt="teacher photo" >
          <p class="teachers__name">Гришина Мария Евгеньевна</p>
          <p class="teachers__position">доцент; доцент, к.н.; ведущий научный сотрудник</p>
        </div>

        <div class="swiper-slide slide-4">
          <img class="teachers__photo" src="img/teacher_photo-4.jpg" alt="teacher photo" >
          <p class="teachers__name">Зубкова Екатерина Никитична</p>
          <p class="teachers__position">заведующий кафедрой</p>
        </div>

        <div class="swiper-slide slide-5">
          <img class="teachers__photo" src="img/teacher_photo-5.jpg" alt="teacher photo" >
          <p class="teachers__name">Иванова Анастасия Артёмовна</p>
          <p class="teachers__position">доцент, к.н.; доцент, к.н.</p>
        </div>

        <div class="swiper-slide slide-6">
          <img class="teachers__photo" src="img/teacher_photo-6.jpg" alt="teacher photo" >
          <p class="teachers__name">Крюков Фёдор Ильич</p>
          <p class="teachers__position">старший преподаватель, к.н.; старший научный сотрудник; ст.преподаватель, к.н.	</p>
        </div>
      </div>
    </div>

    <div class="university">
      <h3 class="university__title">Университет сервиса</h3>

      <span class="university__subtitle">&mdash;&nbsp;самый крупный в&nbsp;Поволжье научный центр по&nbsp;социально-экономическим проблемам в&nbsp;сфере сервиса, ежегодно выполняющий десятки исследовательских проектов.</span>
    </div>

    <p class="university-descr">Фундамент научной и&nbsp;образовательной деятельности составляют 9&nbsp;научных школ.</p>

  </div>
</section>
