html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $blackColor;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
h1, h2, h3, p {
  margin: 0;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1450px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.section-title {
  position: relative;
  padding-bottom: 16px;
  font-family: 'Fellaz', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.025em;
  color: $colorWhite;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba($colorWhite, 0.3);
  }

  &::before {
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    background-image: url(../img/title-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
  }

}
