@import "vars";

.specialty {
  padding-bottom: 700px;
  background-image: url(../img/specialty-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 100px center;

  &__title {
    margin-bottom: 73px;
    font-family: 'Fellaz';
    font-weight: 700;
    font-size: 98px;
    line-height: 138px;
    text-transform: uppercase;
    background-image: url(../img/bachelor-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__list {
    padding: 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
  }

  &__item-big {
    display: block;
    font-family:'FuturaPT';
    font-weight: 600;
    font-size: 96px;
    line-height: 123px;
    color: $colorWhite;
  }

  &__item-text {
    font-family:'FuturaPT';
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: $colorWhite;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__info-title {
    padding-bottom: 20px;
    margin-bottom: 58px;
    position: relative;
    font-family: 'Fellaz';
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: $colorWhite;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid rgba($colorWhite, 0.3);
    }
  }

  &__exams {
    max-width: 710px;
  }

  &__marks {
    max-width: 546px;
  }

  &__exams-list {
    display: flex;
    justify-content: space-between;
  }

  &__exams-text {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $colorWhite;
  }

  &__exams-num {
    // display: block;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 96px;
    line-height: 123px;
    color: $colorWhite;
  }

  .item {
    display: block;
  }

  &__exams-text--from {
    margin-right: 25px;
  }

  &__marks-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__marks-item {
    margin-bottom: 44px;

    &:not(:last-child) {
      margin-right: 5%;
    }

    &:last-child {
      max-width: 366px;
    }
  }

  &__marks-mark {
    display: block;
    font-family: 'FuturaPT';
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: $colorWhite;
  }

  &__marks-text {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $colorWhite;
  }

  &__bottom {
    display: flex;
    // flex-wrap: wrap;
    margin-bottom: 100px;
    background-image: url(../img/specialty-arrow.png);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &__about {
    max-width: 710px;
    margin-right: 135px;
  }

  &__about-title {
    margin-bottom: 20px;
  }

  &__about-descr {
  font-family: 'FuturaPT';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  color: $colorWhite;
  }

  &__owner {
    padding-top: 70px;

  }

  &__owner-bio {
    display: block;
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $colorWhite;
  }

  &__owner-position {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: $colorWhite;

    &:nth-child(2){
      display: block;
      margin-bottom: 35px;
    }
  }
}

.open-dors {
  background-color: $colorWhite;
  padding: 100px 0;


  &__title {
    color: $blackColor;
    margin-bottom: 40px;

    &::after {
      border-bottom: 1px solid rgba(#17181A, 0.3);
    }

    &::before {
      background-image: url(../img/title-arrow-black.svg);
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    display: flex;
    width: 710px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__card-big {
    padding: 32px 161px 57px 32px;
    // margin-right: 135px;
    background-image: url(../img/about_bg-1.jpg);
  }

  &__card-small {
    padding: 32px 48px;
    width: 545px;
    background-image: url(../img/about_bg-2.jpg);
  }

  &__date {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__num {
    // display: block;
    font-family: 'Fellaz';
    font-weight: 400;
    font-size: 144px;
    line-height: 144px;
    color: $colorWhite;
  }

  &__mounth {
    display: block;
    font-family: 'FuturaPT';
    font-weight: 300;
    font-size: 96px;
    line-height: 96px;
    text-align: right;
    color: $colorWhite;
  }

  &__place {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // margin-bottom: 20px;
    // align-items: flex-end;
  }

  &__time {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: $colorWhite;
  }

  &__address {
    font-family: 'FuturaPT';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 46px;
    color: $colorWhite;
  }
}

.contacts {
  padding-top: 185px;
  padding-bottom: 100px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 46px;

    &::before {
      background-image: none;
    }
  }

  &__info {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 211px;
      height: 211px;
      background-image: url(../img/specialty-arrow.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      transform: rotate(180deg);
    }

  }

  &__info,
  &__map {
    width: 100%;
    max-width: 48.5%;
  }

  &__info-text {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 36px;
    color: $colorGold;
  }

  &__info-tel,
  &__info-address {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    color: $colorWhite;
  }

  &__info-address {
    font-style: normal;
  }
}

.map {
  margin-top: 100px;
  margin-bottom: 30px;
  max-width: 680px;
  height: 700px;
}

.map-links {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
      margin-bottom: 32px;
    }
  }

  &__link {
    font-family: 'FuturaPT';
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: $colorWhite;
    opacity: 0.5;
  }

  &__link-active {
    font-weight: 450;
    color: $colorGold;
    opacity: 1;
  }
}

@import "./components/step";

.step {
  padding-bottom: 100px;
}

.step__images {
  display: none;
}

.step__container {
  padding-top: 0;

}

@media (max-width: 1366px) {
  .specialty {
    &__title {
      margin-bottom: 60px;
      font-size: 75px;
      line-height: 85px;
    }

    &__list {
      margin-bottom: 70px;
      flex-wrap: wrap;
    }

    &__item-big {
      font-size: 60px;
      line-height: 85px;
    }

    &__info-title {
      padding-bottom: 20px;
      margin-bottom: 20px;
      font-size: 36px;
      line-height: 45px;
    }

    &__exams {
      max-width: 48.5%;
    }

    &__marks {
      max-width: 48.5%;
    }

    &__exams-num {
      font-size: 65px;
      line-height: 70px;
    }

    &__info {
      margin-bottom: 15px;
    }

    &__about {
      max-width: 610px;
      margin-right: 100px;
  }

    &__bottom {
      margin-bottom: 40px;
      flex-wrap: wrap;
    }
  }

  .contacts {
    padding-top: 85px;
    padding-bottom: 50px;
  }
}

@media (max-width: 1366px) {
  .specialty {
    &__bottom {
      background-position:  top 100px;
      // margin-bottom: 40px;
      // flex-wrap: wrap;
    }
  }

}


@media (max-width: 1024px) {}
